<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
            <main class="contact">
        <h1 class="contact-page-title">Contact Us: </h1>
        <form class="contact-form">
            <label for="contact-title">Title:</label>
            <br>
            <input id="contact-title" type="text">
            <br>
            <label for="contact-email">Email:</label>
            <br>
            <input id="contact-email" type="text">
            <br>
            <label for="contact-msg">Message:</label>
            <br>
            <input id="contact-msg" type="text">
            <br>
            <br>
            <button type="submit">Submit</button>
        </form>
    </main>
<%- include('partials/footer') %>