<%- include('partials/head') %>
    <%- include('partials/header') %>
        <main>
        <section class="banner">
            <img class="banner-img" src="/images/John_Taylor_Building,_BYU-Idaho,_Rexburg,_Idaho_(1133459172).jpg" alt="John Taylor Building">
            <section class="banner-text">
                <h1>Welcome to I-Reserve!</h1>
                <p>Example Reservation System</p>
                <button class="large-button" action="">Reserve a Time</button>
                <p>Reserve a study room. Anytime, Anywhere</p>
            </section>
        </section>
    </main>
<%- include('partials/footer') %>