<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main>
        <h1>This is an example of the map page</h1>
        <a href="/map/400">Click here for a 400 error</a>
        <a href="/map/error">Click here to throw a 500 error</a>
    </main>
<%- include('partials/footer') %>