<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main class="profile">
        <section class="user">
            <img src="https://picsum.photos/300/300">
            <h3>MacConnell, Logan</h2>
            <h4>Administrator</h2>
                <br>
            <p>I-Number:</p>
            <p>995072523</p>
            <br>
            <p>Email:</p>
            <p>anEmail@byui.edu</p>
            <br>
            <a class="options" href="/options">Options</a>
            <a class="profile-dashboard" href="/dashboard">Dashboard</a>
        </section>
        <section class="user-reservations">
            <h1>My Reservations:</h1>
            <section class="user-reservation-list">
                <section class="reservation">
                    <section>
                        <h5>Elder's Quorum Activity</h5>
                        <div>
                            <h5>STC 367</h5>
                            <h5>7:00 pm - 8:00 pm</h5>
                            <h5>7/5/2025</h5>
                        </div>
                        <p>We are planning to use the room for a game night with Elder's Quorum 2. Please remember to bring snacks and board games!</p>
                    </section>
                    <div class="user-reservations-details">^</div>
                </section>
                <section class="reservation">
                    <section>
                        <h5>Elder's Quorum Activity</h5>
                        <div>
                            <h5>STC 367</h5>
                            <h5>7:00 pm - 8:00 pm</h5>
                            <h5>7/5/2025</h5>
                        </div>
                        <p>We are planning to use the room for a game night with Elder's Quorum 2. Please remember to bring snacks and board games!</p>
                    </section>
                    <div class="user-reservations-details">^</div>
                </section>
                <section class="reservation">
                    <section>
                        <h5>Elder's Quorum Activity</h5>
                        <div>
                            <h5>STC 367</h5>
                            <h5>7:00 pm - 8:00 pm</h5>
                            <h5>7/5/2025</h5>
                        </div>
                        <p>We are planning to use the room for a game night with Elder's Quorum 2. Please remember to bring snacks and board games!</p>
                    </section>
                    <div class="user-reservations-details">^</div>
                </section>
            </section>
        </section>
    </main>
<%- include('partials/footer') %>