<footer>
            <div class="footer-blue">
                <img class="footer-logo"src="/images/BYUexample.png" alt="BYU example logo">
                <div class="footer-links">
                    <h3>Call or Text 000-000-0000</h3>
                    <h3>ask@someemail.com</h3>
                    <h3>WhatsApp</h3>
                    <h3>Get Help</h3>
                </div>
                <div class="footer-social">
                    <a href=""><img src="/images/twitter.png"></a>
                    <a href=""><img src="/images/instagram.png"></a>
                    <a href=""><img src="/images/youtube.png"></a>
                    <a href=""><img src="/images/facebook.png"></a>
                    <a href=""><img src="/images/linkedin.png"></a>
                </div>
            </div>
            <div class="footer-black">
                <div class="footer-address">
                    <h5>123 Address Street</h5>
                    <h5>Somewhere in Idaho</h5>
                </div>
                <div class="footer-copyright">
                    <p>Thing 1  |  Thing 2  |  Thing 3  |  Thing 4  |  Thing 5</p>
                    <p>© 2025 Logan MacConnell</p>
                    <p class="disclaimer">Disclaimer: This website was created for a final project and is in no way associated with BYU or BYU-Idaho</p>
                </div>
            </div>
    </footer>
    </body>
</html>