    <header>
        <section class="header-imgs">
            <img class="header-logo" src="/images/BYUexample.png" alt="BYUexample logo">
            <img class="header-menu" src="/images/hamburger.png" alt="menu icon">
        </section>
        <nav>
            <a href="/">Home Page</a>
            <a href="/map">Reservation Map</a>
            <a href="/availability">See Availability</a>
            <a class="header-login" href="/profile">Sign In</a>
        </nav>
    </header>