    <header>
        <nav>
            <ul>
                <li><a href="/availability">Availability</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>