<!-- src/views/errors/500.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>500 - Internal Server Error</title>
</head>
<body>
  <h1>500 - Server Error</h1>
  <p><%= error %></p>
  <% if (stack && process.env.NODE_ENV !== 'production') { %>
    <pre><%= stack %></pre>
  <% } %>
  <a href="/">Return Home</a>
</body>
</html>