<%- include('../partials/head') %>
<body class="new-account">
    <main>
        <div class="login-welcome">
            <h1>I-Reserve</h1>
        </div>
        <form class="new-account-form">
            <h3>Create a New Account:</h3>
            <label>I-Number:</label>
            <input type="text">
            <br>
            <label>Email:</label>
            <input type="text">
            <br>
            <label>Username:</label>
            <input type="text">
            <br>
            <label>Password:</label>
            <input type="text">
            <br>
            <label>Confirm Password:</label>
            <input type="text">
            <br>
            <button>Submit</button>
        </form>
    </main>
</body>
</html>