<%- include('../partials/head') %>
<body class="new-account">
    <main>
        <div class="login-welcome">
            <h1>I-Reserve</h1>
        </div>
        <form class="new-account-form" action="/newaccount" method="POST">
            <h3>Create a New Account:</h3>
            <% if (error_msg) { %>
                <div class="alert-error"><%= error_msg %></div>
            <% } %>
            <% if (success_msg) { %>
                <div class="alert-success"><%= success_msg %></div>
            <% } %>
            <label>I-Number:</label>
            <input type="text" name="i_number" required>
            <br>
            <label>Email:</label>
            <input type="email" name="email" required>
            <br>
            <label>First Name:</label>
            <input type="text" name="fname">
            <br>
            <label>Last Name:</label>
            <input type="text" name="lname">
            <br>
            <label>Password:</label>
            <input type="password" name="password">
            <br>
            <label>Confirm Password:</label>
            <input type="password" name="password_confirm">
            <br>
            <button type="submit">Register</button>
            <a href="/login">Return to Login</a>
            <a href="/">Home Page</a>
        </form>
    </main>
</body>
</html>