<%- include('../partials/head') %>
<body class="new-account">
    <main>
        <div class="login-welcome">
            <h1>I-Reserve</h1>
        </div>
        <form class="login-form">
            <h3>Login:</h3>
            <br>
            <label>Username:</label>
            <input type="text">
            <br>
            <label>Password:</label>
            <input type="text">
            <br>
            <button>Login</button>
            <br>
            <p>No account yet?</p>
            <a href="/newaccount">Create a New Account</a>
        </form>
    </main>
</body>
</html>